body {
    background: #191765;

}

.h1-laura {
    font-size: 3.1rem;
}

.navbar-nav {
    padding-right: 60px;
}

.row-container {
   width: 50%;
   margin: 0 auto;
}
.pt-5 p{
    width: 50%; 
    color: #fff;
}
.row-container h4 {
    margin-left: 40px;
}

hr {
    width: 50%;
    margin: 20px auto;
    background-color: aqua;
}

ul li {
    text-decoration: none;
    list-style: none;
    color: white;
}

.social_icons {
    display: flex;
    width: 30%;
    margin: 0 auto;
}

.social_icons li {
    padding: 10px;
}

.form_control {
    width: 50%;
    margin: 20px auto;
}

.form_control h5 {
    color: #9390FF;
    text-align: center;
    font-size: 2.4rem;
    padding-top: 80px;
}

.form_control p {
    color: rgb(223, 219, 219);
}

.row {
    margin-bottom: 20px;
}
.hr_style {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px;
}